<head>
	<%= stylesheet_link_tag "application" %>
</head>

<body>
	<div id="navbar">
		<div id="nav-title">RIDECHARGE</div>
			<div class="nav-section">
				<div class="nav-section-title">Home</div>
			</div>
			<div class="nav-section">
				<div class="nav-section-title">Profile</div>
			</div>
			<div class="nav-section">
				<div class="nav-section-title">Summary</div>
			</div>
	</div>


	
	<div id="content_title">All RideCharges</div>
	<div id="content">

 		<% @rides.each do |ride| %>

			<%= link_to ride_path(ride), class: (ride.ride_complete ? "ride_card paid" : "ride_card") do %>
					<div class="card_title"> <%= ride.date.strftime("%a %b %e") %> </br></div>
					<div class="card_content_container">
						<div class="card_section"> 
							<div class="card_section_title"> Price </br> </div>
							<div class="card_section_content"> <%= ride.price %> </div>
						</div>
						<div class="card_section"> 
							<div class="card_section_title"> # Riders </br> </div>
							<div class="card_section_content"> <%= ride.rider_count %> </div>
						</div>
						<div class="card_section">
							<div class="card_section_title"> Rider Names </br> </div>
							<div class="card_section_content"> <%= ride.rider_names %> </br> </div>
						</div>
					</div>
					<div class="payment_status">
						<span>Not Paid</span>
					</div>
			<% end %>

		<% end %>
	<%= link_to '+', new_ride_path, id: 'add_button' %>

	</div>
</body>

