<p>
	<strong>Ride date: </strong>
	<%= @ride.date %>
</p>

<p>
	<strong>Number of riders: </strong>
	<%= @ride.rider_count %>
</p>

<p>
	<strong>Rider names: </strong>
	<%= @ride.rider_names %>
</p>

<p>
	<strong>Total ride price ($): </strong>
	<%= @ride.price %>
</p>

<div>
	<strong style="display: inline-block;">Payment complete? </strong>
	<div id="status" style="display: inline-block;">
		<%= @ride.ride_complete %>
	</div>
</div>

<%= check_box_tag 'payment_status', @ride.ride_complete, @ride.ride_complete, :data => {:id => @ride.id} %>
</br>

<!-- put button to update ride with ride_complete -->
<!-- do ajax call (checkbox) to update -->
<!-- <%= button_to 'This Ride has been paid', ride_path(@ride, :ride_complete => true), method: :put %> -->

<%= link_to 'Edit RideCharge', edit_ride_path(@ride) %>
</br>
<%= link_to 'Delete RideCharge', ride_path(@ride), method: :delete, data: {confirm: 'Are you sure?'} %>
</br>

<%= link_to 'Back to All Rides', rides_path %>	